* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.apresentar {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
h3{
    margin: 0 0 0 8%;
    
}
#ola {
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 20px #ffffff42;
    transition: 1s;
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes pulse {
    0% {
        transform: scale(0.5);
    }

    70% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#ola:hover {
    transform: scale(1.2);
    background-color: black;
    color: #fff;
}

.feitos {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 47, 47, 0.35);
}

.projetos {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#projeto1 {
    background-color: rgb(255, 255, 255, 0.3);
    color: #fff;
    padding: 5% 10% 5% 10%;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px white;
    transition: 1s;
}

#projeto1:hover {
    transform: scale(1.2);
}

.rodape {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}