body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
    padding: 20px;
    height: 100vh;
}

.quadroQuis {
    background: #222;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    max-width: 600px;
}

.quadroQuis h2 {
    margin-bottom: 10px;
}

.quadroQuis button {
    display: block;
    width: 100%;
    background: #333;
    border: none;
    color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: left;
    transition: background 0.3s;
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
}

.quadroQuis button:hover {
    background: #555;
}